/*
  ========================================
  General
  ========================================
*/


body {
	background-color: #FFFFFF;
}

.container-outer {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.container-outer-other {
	display: flex;
	justify-content: center;
}


/*
  ========================================
  General typography
  ========================================
*/

h1, h2, h3, h4, h5, h6 {
	font-family: Arapey;
	color: #99A9AA;
	margin: 10px;
	letter-spacing: 1px;
}

p, li, td, th {
	font-family: Barlow;
	color: #99A9AA;
	margin: 10px;
	letter-spacing: 1px;
}

h1 {
	font-size: 48px;
	color: #D1004B;
}

h3 {
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 0;
}

p {
	font-size: 16px;
	line-height: 24px;
}

li {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: justify;
	padding-left: 20px;
}

thead th, h4 {
	color: #D1004B;
}

h4 {
	font-size: 24px;
}

h5 {
	letter-spacing: 2px;
}

h6 {
	color: #F8E71C;
}

a {
	text-decoration: none;
	font-family: Barlow;
	color: #D1004B;
	letter-spacing: 1px;
	font-size: 14px;
}

a:hover, a:focus {
	text-decoration: none;
	color: #D1004B;
}


.note {
	font-size: 12px;
}


/*
  ========================================
  Header
  ========================================
*/


.container-top {
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
	background-color: #FFFFFF
}

.container-top img {
	width: 260px;
}

.container-top p {
	margin-top: 30px;
}




/*
  ========================================
  Case Studies
  ========================================
*/
#venue, #schedule, #rsvp {
	background-color: #E1FBFF;
}





/*
  ========================================
  Bio
  ========================================
*/



.heading {
	font-size: 20px;
	color: #D1004B;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 400;
}


.description {
	max-width: inherit;
}

.year {
	font-style: italic;
	float: right;
	margin-top: 0;
}

ul.description {
	list-style-type: circle;
}

.section-heading {
	color: #D1004B;
	font-family: Arapey;
	margin: 80px 0 60px 10px;
	text-align: center;
	font-size: 32px;
}


#venue .section-heading, #schedule .section-heading, #rsvp .section-heading {
	color: #1AAA9C;
}

#venue p, #schedule p, #rsvp p {
	color: #0D6161;
}

#venue h4, #schedule h4, #rsvp h4 {
	color: #1AAA9C;
}


.skills {
	font-size: 14px;
}

.heading-inactive {
	margin-top: 10px;
}


.schedule-item {
	margin-bottom: 30px;
	margin-top: 30px;
}
