/*
  ========================================
  General
  ========================================
*/


body {
	background-color: #1c1c28;
}

.container-outer {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}


/*
  ========================================
  General typography
  ========================================
*/

p, h1, h2, h3, h4, h5, h6, li {
	font-family: Cairo;
	color: #fff;
	margin: 10px;
	letter-spacing: 1px;
}

h1 {
	font-size: 38px;
	color: #F8E71C;
}

h3 {
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 0;
}

p {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

li {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: justify;
	padding-left: 20px;
}

h4 {
	color: #F8E71C;

}

h5 {
	letter-spacing: 2px;
}

h6 {
	color: #F8E71C;
}

a {
	text-decoration: none;
	font-family: Cairo;
	color: #F8E71C;
	letter-spacing: 1px;
	font-size: 14px;
}

a:hover, a:focus {
	text-decoration: none;
	color: #F8E71C;
}


.note {
	font-size: 12px;
}


/*
  ========================================
  Header
  ========================================
*/


.container-top {
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
	background-color: #1c1c28
}

.container-top img {
	width: 140px;
}

.container-top p {
	margin-top: 30px;
}


.arrow {
	text-align: center;
	margin: 8% 0;
}

.arrow img {
	width: 20px;
}
.bounce {
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	}
	40% {
	-webkit-transform: translateY(-10px);
	        transform: translateY(-10px);
	}
	60% {
	-webkit-transform: translateY(-5px);
	        transform: translateY(-5px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	}
	40% {
	-webkit-transform: translateY(-10px);
	        transform: translateY(-10px);
	}
	60% {
	-webkit-transform: translateY(-5px);
	        transform: translateY(-5px);
	}
}


/*
  ========================================
  Case Studies
  ========================================
*/
#venue, #schedule {
	background-color: #222233;
}





/*
  ========================================
  Bio
  ========================================
*/



.heading {
	font-size: 20px;
	color: #F8E71C;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 400;
}


.description {
	max-width: inherit;
}

.year {
	font-style: italic;
	float: right;
	margin-top: 0;
}

ul.description {
	list-style-type: circle;
}

.section-heading {
	margin: 80px 0 60px 10px;
	text-align: center;
	font-size: 24px;
}


.skills {
	font-size: 14px;
}

.heading-inactive {
	margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .section-heading {
    border-bottom: 1px solid #FFF; 
    line-height:0.1em; 
    margin:100px 0 40px 10px;
  }

  .section-heading span { 
    background:#223; 
    padding:0 10px 0 0; 
  }

}





.schedule-item {
	margin-bottom: 30px;
	margin-top: 30px;
}


.bio {
	background-color: #1c1c28;
}
